@model VirtualGlassesProvider.Models.DTOs.GlassesDTO
@{
    ViewData["Title"] = "Details";
}
<div id="detailsLeft">
    <hr />
        <h1>
            @Html.DisplayFor(model => model.BrandName)
            @Html.DisplayFor(model => model.Colour)
            @Html.DisplayFor(model => model.Style)
        </h1>
        <div id="productDisplayImageDetailsDiv">
            <div id="imgRender">
                <img class="detailsImage" id="detailsImage" src="/@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.BrandName)" />
                <p class="errorMessage" id="errorMessage"></p>
            </div>
        </div>
        <br />
        <a id="clearImage" class="btn btn-primary">Clear Image</a>
        &nbsp;
        <a class="btn btn-primary" id="downloadImageLink">Download Image</a>
        <br />
        <br />
        <br />
        <br />
        <p>
            <b>@Html.DisplayNameFor(model => model.Price)</b>
        </p>
        <p>
            <b>@Html.DisplayFor(model => model.Price)</b>
        </p>
        <a asp-action="Index">Back to List</a>
</div>
<div id="detailsRight">
    <div>
        <h2>
            @Html.DisplayNameFor(model => model.Description)
        </h2>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
        </div>
    <div id="detailsFormsDiv">
        
        <form id="formAR">
            <label for="buyFor">Buy For:</label>
            <br />
            <select id="buyFor" name="buyFor">
                <option value="self">Self</option>
                @if (ViewBag.Members != null)
                {
                    @foreach (var member in ViewBag.Members)
                    {
                        <option value="@member.ID">@member.Name</option>
                    }
                }
            </select>
            <br />
            <br />
            <a asp-action="AddToCart" asp-controller="Home" class="btn btn-dark" asp-route-id="@Model.ID">Add to Cart</a>
            &nbsp; &nbsp;
            <input type="button" id="generateImageBtn" name="generateImageBtn" value="Try on virtually" aria-label="generate AR image button" class="btn btn-dark" />
            &nbsp; &nbsp;
            <input type="button" id="ApplyGlassesFilterBtn" name="ApplyGlassesFilterBtn" value="Live Try On!" aria-label="generate live try on button" class="btn btn-dark" />
            @* <a asp-action="ApplyGlassesFilter" asp-controller="Home" class="btn btn-primary">Live Try On!</a> *@
            <canvas id="canvasOutput" hidden ></canvas>
            <img id="originalPortrait" src="" hidden />
            <img id="productImage" src="~/@Html.DisplayFor(model => model.Image)" hidden />
            <p id="glassesBrandNameVal" hidden>@Html.DisplayFor(model => model.BrandName)</p>
        </form>  
        
    </div>
    
</div>
<br /><br />
<div>
    <video id="video" autoplay style="
            display: none;
            width: 640px;
            height: 480px;
            ">
    </video>
    <canvas id="canvas"width="640px" height="480px" style="padding-top: 700px;"></canvas>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@@tensorflow-models/blazeface"></script>
<script src="~/js/face-api.min.js" asp-append-version="true"></script>
<script src="~/js/details.js" asp-append-version="true"></script>
<script src="~/js/video.js" asp-append-version="true"></script>



