@model VirtualGlassesProvider.Models.DTOs.GlassesDTO
@{
    ViewData["Title"] = "Details";
}

@{
    var addedToCartMessage = TempData["AddedToCartMessage"] as string;
}
@if (!string.IsNullOrEmpty(addedToCartMessage))
{
    <div id="addedToCartMessage" class="alert alert-success" role="alert">
        @addedToCartMessage
    </div>
}

<div id="detailsLeft">
    <hr />
        <h1>
            @Html.DisplayFor(model => model.BrandName)
            @Html.DisplayFor(model => model.Colour)
            @Html.DisplayFor(model => model.Style)
        </h1>
        <div id="productDisplayImageDetailsDiv">
            <div id="imgRender">
                <img class="detailsImage" id="detailsImage" src="/@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.BrandName)" />
                <p class="detailsErrorMessage" id="detailsErrorMessage"></p>
            </div>
        </div>
        <br />
        <a id="clearImage" class="btn btn-primary">Clear Image</a>
        &nbsp;
        <a class="btn btn-primary" id="downloadImageLink">Download Image</a>
        <br />
        <br />
        <br />
        <br />
        <p>
            <b>@Html.DisplayNameFor(model => model.Price)</b>
        </p>
        <p>
            <b>@Html.DisplayFor(model => model.Price)</b>
        </p>
        <a asp-action="Index">Back to List</a>
</div>
<div id="detailsRight">
    <div>
        <h2 id="detailsDescriptionHeading">
            @Html.DisplayNameFor(model => model.Description)
        </h2>
        <p id="detailsDescriptionText">
            @Html.DisplayFor(model => model.Description)
        </p>
        </div>
    <div id="detailsFormsDiv">
        
        <form id="formAR">
            <label for="buyFor">Buy For:</label>
            <br />
            <select id="buyFor" name="buyFor">
                <option value="self">Self</option>
                @if (ViewBag.Members != null)
                {
                    @foreach (var member in ViewBag.Members)
                    {
                        <option value="@member.ID">@member.Name</option>
                    }
                }
            </select>
            <br />
            <br />
            <a asp-action="AddToCart" asp-controller="Home" class="btn btn-dark" asp-route-id="@Model.ID" asp-route-source="details" id="detailsAddToCartButton">Add to Cart</a>
            &nbsp; &nbsp;
            <input type="button" id="generateImageBtn" name="generateImageBtn" value="Try on virtually" aria-label="generate AR image button" class="btn btn-dark" />
            &nbsp; &nbsp;
            <input type="button" id="ApplyGlassesFilterBtn" name="ApplyGlassesFilterBtn" value="Live Try On!" aria-label="generate live try on button" class="btn btn-dark" />
            <canvas id="canvasOutput" hidden></canvas>
        </form>  
    </div>
</div>
<br /><br />
<div id="detailsBottom">
    <video id="video" autoplay>
    </video>
    <canvas id="canvas" width="640" height="480"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/@@tensorflow/tfjs" type="text/javascript" crossorigin="anonymous" integrity="sha384-jFJpVyjDxRVF4/4IeyI3WYuURpT9gmuwbdfCY9lIfZwwADqc66mXxRiYSyMIp74i"></script>
<script src="https://cdn.jsdelivr.net/npm/@@tensorflow-models/blazeface" type="text/javascript" crossorigin="anonymous" integrity="sha384-pmFVRqTsqHmtuLJVyzlEVoLnr2CAevVBYX7slpnjib4g66wM8zJV8i/0EL6U2PIk"></script>
<script src="~/js/details.js" asp-append-version="true" type="text/javascript"></script>
<script src="~/js/video.js" asp-append-version="true" type="text/javascript"></script>
<link rel="stylesheet" href="~/css/greybackground.css" type="text/css" />