@using VirtualGlassesProvider.Models.DTOs
@model List<GlassesDTO>
@{
    ViewData["Title"] = "Home Page";
}
@{
    var addedToCartMessage = TempData["AddedToCartMessage"] as string;
    var addedToWishlistMessage = TempData["AddedToWishlistMessage"] as string;
}
<div class="text-center">
    <h1 class="display-4">Welcome To Vision Vogue!</h1>
</div>

@if (!string.IsNullOrEmpty(addedToCartMessage))
{
    <div id="addedToCartMessage" class="alert alert-success" role="alert">
        @addedToCartMessage
    </div>
}

@if (!string.IsNullOrEmpty(addedToWishlistMessage))
{
    <div id="addedToWishlistMessage" class="alert alert-success" role="alert">
        @addedToWishlistMessage
    </div>
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Search" class="form-inline mt-4 mb-4">
            <div class="input-group mb-3">
                <label for="searchString" class="input-group-text">Search for Glasses:</label>
                <input type="search" name="searchString" class="form-control" id="searchString" placeholder="Enter keywords">
                <button type="submit" id="searchBtn" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <h1>Our Glasses Collection</h1>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="img-wrapper">
                    <img src="@Url.Content($"~/{item.Image}")" alt="@item.BrandName" />
                </div>
                <div class="card-body">
                    <h5 class="card-title" id=@string.Concat("product", item.ID.ToString(), "BrandName")>@item.BrandName</h5>
                    <p class="card-text" id=@string.Concat("product", item.ID.ToString(), "Description")>@item.Description</p>
                    <p class="price" id=@string.Concat("product", item.ID.ToString(), "Price")>&#36;@item.Price.ToString("F")</p>
                    <p class="label-text" id=@string.Concat("product", item.ID.ToString(), "Style")>Style: <span class="font-weight-bold">@item.Style</span></p>
                    <p class="label-text" id=@string.Concat("product", item.ID.ToString(), "Colour")>Colour: <span class="font-weight-bold">@item.Colour</span></p>
                    <a asp-action="Details" asp-controller="Home" class="btn btn-primary" asp-route-id="@item.ID" id=@string.Concat("productDetailsButton",item.ID.ToString())>Details</a>
                    <a asp-action="AddToCart" asp-controller="Home" class="btn btn-success" asp-route-id="@item.ID" id=@string.Concat("addToCartButton",item.ID.ToString())>Add to Cart</a>
                    <p></p>
                    <a asp-controller="Home" asp-action="AddToWishList" asp-route-id="@item.ID" class="btn btn-success" id=@string.Concat("addToWishlistButton",item.ID.ToString())>Add to Wish List</a>
                </div>
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<link rel="stylesheet" href="~/css/greybackground.css" type="text/css" />